<h1>Elemment Computers</h1>

<h2>Queue Test</h2>
<!-- Queue -->
<button (click)="resetQueue()">Reset Queue</button><br>
<br>
<button (click)="qEnqueue(10000)">Enqueue 10.000 products</button><br>
<button (click)="qEnqueue(100000)">Enqueue 100.000 products</button><br>
<button (click)="qEnqueue(1000000)">Enqueue 1.000.000 products</button><br>
<button (click)="qEnqueue(10000000)">Enqueue 10.000.000 products</button><br>
<button (click)="qEnqueue(100000000)">Enqueue 100.000.000 products</button><br>
<br>
<button (click)="qEnqueue(1)">Enqueue 1 product</button><br>
<br>
<button (click)="qDequeue()">Dequeue 1 product</button><br>
<br>
<button (click)="qPrintQueue()">Print Queue</button><br>
<button (click)="qIsEmpty()">Check if queue is empty</button><br>

<h2>Stack Test</h2>
<!-- Pila -->
<button (click)="sPush(10000)">Push 10.000 products</button><br>
<button (click)="sPush(100000)">Push 100.000 products</button><br>
<button (click)="sPush(1000000)">Push 1.000.000 products</button><br>
<button (click)="sPush(10000000)">Push 10.000.000 products</button><br>
<button (click)="sPush(100000000)">Push 100.000.000 products</button><br>
<br>
<button (click)="sPush(1)">Push 1 product</button><br>
<br>
<button (click)="sPop()">Pop 1 product</button><br>
<br>
<button (click)="sTop()">Top 1 product</button><br>

<h2>Dynamic Array Test</h2>
<!-- Arreglo Dinámico -->
<button (click)="dPushBack(10000)">Push 10.000 products</button><br>
<button (click)="dPushBack(100000)">Push 100.000 products</button><br>
<button (click)="dPushBack(1000000)">Push 1.000.000 products</button><br>
<button (click)="dPushBack(10000000)">Push 10.000.000 products</button><br>
<button (click)="dPushBack(100000000)">Push 100.000.000 products</button><br>
<br>
<button (click)="dGet()">Get Element 1</button><br>
<br>
<button (click)="dSet()">Set Element 1</button><br>
<br>
<button (click)="dPushBack(1)">Push 1 element</button><br>
<br>
<button (click)="dRemove()">Remove Element 1</button><br>
<br>
<button (click)="dPrintElements()">Print Dynamic Array</button><br>
<button (click)="dGetSize()">Get Size</button><br>
<button (click)="dGetCapacity()">Get Capacity</button><br>

<h2>Double Linked List Test</h2>
<!-- Lista Encadenada -->
<button (click)="resetList()">Reset List</button><br>
<br>
<button (click)="pushNodesFront(10000)">Push 10.000 nodes at front</button><br>
<button (click)="pushNodesFront(100000)">Push 100.000 nodes at front</button><br>
<button (click)="pushNodesFront(1000000)">Push 1.000.000 nodes at front</button><br>
<button (click)="pushNodesFront(10000000)">Push 10.000.000 nodes at front</button><br>
<button (click)="pushNodesFront(100000000)">Push 100.000.000 nodes at front</button><br>
<br>
<button (click)="pushNodesFront(1)">Push front 1 node</button><br>
<br>
<button (click)="pushNodesBack(1)">Push back 1 node</button><br>
<br>
<button (click)="findByKey()">Find 1 node</button><br>
<br>
<button (click)="popBack()">Pop back 1 node</button><br>